#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
  }
  
  .hole {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: brown;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .mole{
      background-color: blueviolet;
  }